body {
}

h1 {
    padding-top: 2rem;
    padding-left: 1rem;
    font-size: 3rem;
    font-family: 'Alfa Slab One', cursive;
}

header {
    padding-top: .2rem;
    background-color: rgb(55, 111, 35);
    height: 15rem;
}

footer {
    
    background-color: rgb(205, 194, 86);
}

nav {
    background-color: darkgrey;
    padding-top: 5px;
    height: 1.5rem;
    vertical-align: central;
}

.headerlogo {
    float: right;
    padding-top: -1rem;
    padding-right: 1rem;
}

#logo {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: rgb(55, 111, 35);
}

.mapouter {
    float: right;
    overflow: hidden;
    height: 300px;
    width: 300px;
}

.gmap_canvas {
    background: none !important;
    height: 300px;
    width: 300px;
}

.mapouter_big {
    overflow: hidden;
    height: 500px;
    width: 700px;
}

.gmap_canvas_big {
    background: none !important;
    height: 500px;
    width: 700px;
}

.mainclass{
    padding-left: .5rem;
}